<section class="s-form-contact is-s-padding bg-secondary">
    <div class="container grid gap-8 t:gap-14">
        <div class="wrp_s_head">
            <h2 class="ui-heading" data-size="md">Kontaktní formulář</h2>
        </div>
        <div class="wrp_s_body">
            <form class="c-form-contact">
                <div class="wrp_c_head mb-6">
                    <div class="ui-notice accent-success">Formulář byl úspěšně odeslán, děkujeme a budeme Vás kontaktovat!</div>
                </div>
                <div class="wrp_c_body grid t:grid-cols-3 gap-6">
                    <div class="ui-input">
                        <input type="text" required>
                        <label>Jméno</label>
                    </div>
                    <div class="ui-input">
                        <input type="text" required>
                        <label>Příjmení</label>
                    </div>
                    <div class="ui-input">
                        <input type="text" required>
                        <label>E-mail</label>
                    </div>
                    <div class="ui-input t:col-span-3">
                        <textarea required></textarea>
                        <label>Zpráva</label>
                    </div>
                    <div class="t:col-span-3">
                        <label class="ui-checkbox">
                            <input type="checkbox">
                            <span>Souhlasím se <a href="#">zpracováním svých osobních údajů</a></span>
                        </label>
                    </div>
                </div>
                <div class="wrp_c_foot mt-6 t:mt-12">
                    <button class="ui-btn-text">
                        <span>Odeslat</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
