<div class="s-form-partnership bg-secondary">
    <div class="wrp_s_body container">
        <div class="elm_s_text">
            <h2 class="ui-heading" data-size="lg">Máte zájem o odbornou spolupráci? Dejte nám
                o sobě vědět</h2>
            <p class="ui-text">Nam aliquet eu justo sed mattis. Nullam blandit in lectus vel rutrum. Integer viverra lectus a lorem viverra vestibulum. Praesent fringilla tincidunt imperdiet. Quisque dui ante, congue non sapien sed, porttitor dictum massa.</p>
        </div>
        <div class="elm_s_form">
            <div class="c-form-partnership c-form-signup">
                <div class="wrp_form_body grid gap-7">
                    <div class="ui-input">
                        <input type="text" style="--ui-input-background: rgb(var(--color-background))" required>
                        <label>Jméno</label>
                    </div>
                    <div class="ui-input">
                        <input type="text" style="--ui-input-background: rgb(var(--color-background))" required>
                        <label>Přijmení</label>
                    </div>
                    <div class="ui-input">
                        <input type="email" style="--ui-input-background: rgb(var(--color-background))"   required>
                        <label>E-mail</label>
                    </div>
                    <div class="ui-input">
                        <input type="tel" style="--ui-input-background: rgb(var(--color-background))"  required>
                        <label>Telefon</label>
                    </div>
                    <div class="ui-input">
                        <input type="tel" style="--ui-input-background: rgb(var(--color-background))"  required>
                        <label>Město</label>
                    </div>
                    <label class="ui-checkbox">
                        <input type="checkbox">
                        <span>Souhlasí se zpracováním svých osobních údajů</span>
                    </label>
                </div>
                <div class="wrp_form_foot">
                    <button class="ui-btn-text">
                        <span>Odeslat</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
