<div class="s-form-signup bg-secondary">
    <div class="wrp_s_body container">
        <div class="elm_s_image">
            <div class="ui-image aspect-[56/50]">
                <img src="{{ placeholder(560,497) }}" loading="lazy" alt="Happy people">
            </div>
        </div>
        <div class="elm_s_form">
            <form class="c-form-signup">
                <div class="wrp_form_head grid gap-5">
                    <h3 class="ui-heading" data-size="md">
                        Předregistrace <br> potenciálního zákazníka
                    </h3>
                    <div class="ui-text">
                        <p>Slouží k předregistraci zákazníka do Moje GW</p>
                    </div>
                </div>
                <div class="wrp_form_body grid gap-7">
                    <div class="ui-input">
                        <input type="text" style="--ui-input-background: rgb(var(--color-background))" required>
                        <label>Jméno</label>
                    </div>
                    <div class="ui-input">
                        <input type="text" style="--ui-input-background: rgb(var(--color-background))" required>
                        <label>Přijmení</label>
                    </div>
                    <div class="ui-input ">
                        <input type="email" style="--ui-input-background: rgb(var(--color-background))"   required>
                        <label>E-mail</label>
                    </div>
                    <div class="ui-input">
                        <input type="tel" style="--ui-input-background: rgb(var(--color-background))"  required>
                        <label>Telefon</label>
                    </div>
                    <div class="ui-input">
                        <input type="tel" style="--ui-input-background: rgb(var(--color-background))"  required>
                        <label>Město</label>
                    </div>
                    <label class="ui-checkbox accent-info">
                        <input type="checkbox">
                        <span>Souhlasí se zpracováním svých osobních údajů</span>
                    </label>
                </div>
                <div class="wrp_form_foot">
                    <button class="ui-btn-text">
                        <span>Odeslat</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--

 -->
