<div class="s-hero">
    <div class="wrp_s_background">
        <div class="ui-image aspect-[16/10]">
            <source srcset="https://picsum.photos/id/190/768/768" media="{{ media['max-400'] }}">
            <img src="https://picsum.photos/id/190/1920/1200" alt="" data-controller="lib-gsap-parallax" data-start="0">
        </div>
    </div>
    <div class="wrp_s_body text-light ">
        <h1 class="ui-heading" data-size="xl">{{ section.heading }}</h1>
    </div>
</div>
