<div class="s-hero-small">
    <div class="wrp_s_background">
        {% if section.image == true %}
            <picture class="ui-image aspect-[48/17]">
                <source srcset="{{ placeholder(768, 768) }}" media="{{ media['max-400'] }}">
                <img src="{{ placeholder(1920, 680) }}" alt="" data-controller="lib-gsap-parallax" data-start="0">
            </picture>
        {% endif %}
    </div>
    <div class="wrp_s_body container text-light">
        <div class="elm_s_breadcrumb">
            {% include '@src/templates/Components/Breadcrumb.twig' %}
        </div>
        <div class="elm_s_body">
            <h1 class="ui-heading" data-size="xl">Staňte se partnery Green Ways a získejte lepší ceny</h1>

            {% if section.text == true %}
                <div class="ui-text">
                    <p>Přinášíme zeleň do moderních domácností, tj. lidem spjatým s rychlým životním stylem. </p>
                </div>
            {% endif %}

            {% if section.link == true %}
                <button class="ui-btn-text t:mt-5">
                    <span>Stát se partnerem</span>
                    <span class="ui-btn-circle">
                        <svg><use href="#icon-mask"></use></svg>
                        <svg><use href="#icon-arrow-right"></use></svg>
                    </span>
                </button>
            {% endif %}
        </div>
    </div>
</div>
