<section class="s-about bg-secondary text-dark">
    <div class="container">
        <div class="wrp_c_body grid t:grid-cols-2 t:grid-rows-2">
            <div class="col col-left row-span-2">
                <div class="elm_s_image">
                    <picture class="ui-image rounded aspect-[46/58]">
                        <img src="{{ placeholder(460, 580) }}" loading="lazy" alt="">
                    </picture>
                </div>
            </div>
            <div class="col col-right">
                <div class="elm_s_heading">
                    <svg class="ui-icon" data-size="xl">
                        <use href="#icon-cart"></use>
                    </svg>
                    <h2 class="ui-heading" data-size="md">Chci nakupovat</h2>
                </div>
                <div class="elm_s_body">
                    <div class="ui-text">
                        <p>Máte zájem o naše produkty? Zjistěte více o tom, jak nakupit. Je to snadné a vyplnění předregistrace Vám zabere maximálně 5 minut. Získáté mnoho výhod a přístup do našeho systému.</p>
                    </div>
                    <a class="ui-btn-text" href="#s-newsletter">
                        <span>Navštívit stránku</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col col-right">
                <div class="elm_s_heading">
                    <svg class="ui-icon" data-size="xl">
                        <use href="#icon-briefcase"></use>
                    </svg>
                    <h2 class="ui-heading" data-size="md">Chci podnikat</h2>
                </div>
                <div class="elm_s_body">
                    <div class="ui-text">
                        <p>Máte zájem o naše produkty? Zjistěte více o tom, jak nakupit. Je to snadné a vyplnění předregistrace Vám zabere maximálně 5 minut. Získáté mnoho výhod a přístup do našeho systému.</p>
                    </div>
                    <a class="ui-btn-text" href="#l-main">
                        <span>Navštívit stránku</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
