<div class="s-scroll-text bg-dark text-primary" data-controller="s-scroll-text">
    <div class="wrp_c_body" data-s-scroll-text-target="text">
        Jsme mostem mezi <span class="text-light">přírodou</span> a civilizací
    </div>
</div>
