<section class="s-certificates-slider is-s-padding {% if section.background %}bg-secondary{% endif %}" data-controller="lib-ns">
    <h2 class="ui-heading sr-only">Certifikáty</h2>
    <div class="container">
        <div class="wrp_s_body flex items-center gap-8">
            <div class="elm_s_nav m:hidden">
                <button class="ui-icon" data-size="md" aria-label="Předchozí" data-lib-ns-prev>
                    <svg><use href="#icon-arrow-left"></use></svg>
                </button>
            </div>
            <div class="elm_s_slider row-x gx-10" data-lib-ns>
                {% for product in 1..7 %}
                    <div class="col col-12 t:col-6 d:col-4">
                        <a class="elm_s_item text-center" href="">
                            <div class="wrp_item_image">
                                <picture class="ui-image bg-transparent aspect-[6/7]">
                                    <img src="{{ placeholder(252, 294) }}" loading="lazy" alt="">
                                </picture>
                            </div>
                            <div class="wrp_item_body">
                                <h3 class="ui-heading" data-size="md">Název certifikátu</h3>
                                <div class="ui-text">
                                    Phasellus velit dui, ullamcorper id purus vel, ullamcorper semper felis. Maecenas non elit ut elit convallis consequat sed a purus.
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="elm_s_nav m:hidden">
                <button class="ui-icon" data-size="md" aria-label="Následující" data-lib-ns-next>
                    <svg><use href="#icon-arrow-right"></use></svg>
                </button>
            </div>
        </div>
        <div class="wrp_s_foot">
            <div class="c-slider-dots" data-lib-ns-nav></div>
        </div>
    </div>
</section>
