<div class="c-breadcrumb">
    <ul class="wrp_c_body flex">
        <li class="col">
            <a href="#" class="ui-icon" data-size="sm">
                <svg><use href="#icon-home"></use></svg>
            </a>
        </li>
        <li class="col">
            <a href="#" class="ui-title font-normal" data-size="sm">
                Kategorie
            </a>
        </li>
        <li class="col">
            <a class="ui-title font-normal" data-size="sm">
                Zelené potraviny
            </a>
        </li>
    </ul>
</div>
