{% set center = true %}
{% set closable = false %}

<div class="c-cookieconsent" data-type="{% if center %}center{% endif %} {% if closable %}closable{% endif %}">
    <div class="wrp bg-background">
        <div class="wrp_c_head mt-2">
            {% if true %}
                <div class="ui-image w-40 mb-6">
                    <img src="{{ placeholder(160, 46) }}">
                </div>
            {% endif %}
            <div class="ui-heading">Nastaven칤 soukrom칤 a&nbsp;cookies&nbsp;游꼵</div>
        </div>
        <div class="wrp_c_body">
            <div class="ui-text">
                <p>Webov칠 str치nky pou쮂셨aj칤 k poskytov치n칤 slu쬰b, personalizaci reklam a anal칳ze n치v코t캩vnosti soubory&nbsp;cookies.</p>
                <p></p>
                <p>N치sleduj칤c칤 volbou souhlas칤te s na코imi <a href="/gdpr">z치sady&nbsp;ochrany osobn칤ch 칰daj콢 a cookies</a>. Sv치&nbsp;nastaven칤 m콢쬰te kdykoli zm캩nit.</p>
            </div>
        </div>
        <div class="wrp_c_foot {% if center %}flex-col space-y-6{% else %}space-x-10{% endif %}">
            <div class="col w-full">
                <button class="ui-btn w-full" data-size="lg" aria-label="Ano, souhlas칤m" data-lib-cookieconsent-approve>Ano, souhlas칤m</button>
            </div>
            <div class="col {% if not center %}pr-6{% endif %}">
                <button class="ui-link" aria-label="Nesouhlas칤m" data-lib-cookieconsent-decline><span>Nesouhlas칤m</span></button>
            </div>
        </div>
    </div>
</div>
