<div class="c-tv-item cursor-pointer" data-action="click->lib-dialog#show" data-action-url="/dialog-video.json">
    <div class="wrp_item_image">
        <picture class="ui-image rounded aspect-[16/9]">
            <img src="{{ placeholder(768, 432) }}" loading="lazy" alt="">
        </picture>
        <div class="ui-btn-circle pointer-events-none" data-size="lg">
            <svg><use href="#icon-mask"></use></svg>
            <svg class="icon-play"><use href="#icon-play"></use></svg>
        </div>
    </div>
    <div class="wrp_item_body">
        <h3 class="ui-heading">
            Stručně o chlorofylu: Bohatství v produktech Green Ways
        </h3>
        <div class="ui-text">
            Il risultato di questo lavoro sono 3 oli evo dalla qualità eccelsa e dal sapore inconfondibile.
        </div>
        <div class="ui-icon-text mt-5">
            <span class="ui-title">Prohlédnout</span>
            <svg class="ui-icon"><use href="#icon-arrow-right"></use></svg>
        </div>
    </div>
</div>
