<div class="c-dialog c-dialog-video justify-center" data-size="lg">
    <form class="wrp_dialog !bg-dark">
        <div class="elm_dialog_close">
            <button class="ui-btn-circle" type="button" data-action="click->lib-dialog#hide">
                <svg><use href="#icon-mask"></use></svg>
                <svg><use href="#icon-x"></use></svg>
            </button>
        </div>
        <div class="wrp_dialog_body">
            <div class="ui-image bg-dark rounded aspect-[16/9]">
                <iframe src="https://player.vimeo.com/video/506156404" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" width="640" height="360" frameborder="0"></iframe>
            </div>
        </div>
    </form>
</div>
