<div class="s-text-columns">
    <div class="container">
        <div class="wrp_s_head">
            {% include '@src/templates/Components/Breadcrumb.twig' %}
            <h2 class="ui-heading d:mt-24 mt-12" data-size="lg">Donec ut elit hendrerit, <br> ullamcorper leo et, feugiat tortor </h2>
        </div>
        <div class="wrp_s_body  mt-10">
            <div class="ui-text grid t:grid-cols-2 grid-cols-1 gap-x-10 gap-y-5">
                <p>Období mateřství je často nejkrásnější dobou života ženy, která je ovšem zároveň mimořádně náročná. Těhotné ženy se musejí vyrovnávat s mnohdy výraznými změnami svého těla i psychiky, čerstvé maminky zažívají vedle pocitů štěstí i značnou únavu. Pomyslným ramenem, o které se kdykoliv mohou opřít, se pro ně mohou stát zelené potraviny.</p>
                <p>Šťáva z mladého ječmene přináší i spoustu důležitých živin, které prospějí mamince i vyvíjejícímu se děťátku. Konzumace chlorelly v těhotenství poté snižuje riziko rozvoje chudokrevnosti, otoků nohou a proteinurie spojené se zátěží ledvin.</p>
            </div>
        </div>
    </div>
</div>
