<div class="s-text bg-dark">
    <div class="wrp_s_body container items-center">
        <div class="elm_s_text text-white">
            <h3 class="ui-heading" data-size="md">
                Budete součástí našeho systému, do kterého dostanete obratem přítup
            </h3>
            <div class="ui-text">
                <p>Nam aliquet eu justo sed mattis. Nullam blandit in lectus vel rutrum. Integer viverra lectus a lorem viverra vestibulum. Praesent fringilla tincidunt imperdiet. Quisque dui ante, congue non sapien sed, porttitor dictum massa.</p>
            </div>
        </div>
        <div class="elm_s_image">
            <div class="ui-image aspect-[3/2] mx-auto">
                <img src="{{ placeholder(525, 350) }}" loading="lazy" alt="Inner web">
            </div>
        </div>
    </div>
</div>
