<div class="s-text-image-numbers">
    <div class="wrp_s_body container">
        <div class="elm_s_image">
            <picture class="ui-image rounded aspect-[46/58] self-center">
                <img src="{{ placeholder(460,580) }}" loading="lazy" alt="">
            </picture>
        </div>
        <div class="elm_s_grid">
            {% for item in 1..4 %}
                <div class="flex flex-col justify-center gap-2.5">
                    <h2 class="ui-heading" data-size="lg">24</h2>
                    <div class="ui-text">Add a short and simple explanation of a figure in one or two sentences. I</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
