<div class="s-text-image-small">
    <div class="wrp_s_body container">
        <div class="ui-image rounded aspect-[36/50]">
            <img src="{{ placeholder(360,500) }}" loading="lazy" alt="">
        </div>
        <div class="elm_text">
            <h3 class="ui-heading" data-size="md">
                Lepši kondice i méně těhotenshých komplikací
            </h3>
            <div class="ui-text mt-9">
                <p>Ječmen a Chlorella Green Ways jsou velmi zdravé a nutričně bohaté potraviny, které mohou ženy bez obav konzumovat i v těhotenství a v době kojení. V mateřském mléce se díky chlorelle zároveň nachází větší množství důležitých antioxidantů a také více protilátek, které kojence chrání před infekcemi. Antioxidanty z ječmene a chlorelly se zároveň podílejí na prevenci vzniku vývojových vada pomáhají opravit již poškozené buňky.</p>
            </div>
            <button class="ui-btn-text mt-10">
                <span>Prohlédnout</span>
                <span class="ui-btn-circle">
                    <svg><use href="#icon-mask"></use></svg>
                    <svg><use href="#icon-arrow-right"></use></svg>
                </span>
            </button>
        </div>
    </div>
</div>
