<div class="s-text-image-numbers-small bg-dark">
    <div class="container grid d:grid-cols-2 grid-cols-1 gap-8 text-white">
        <div class="wrp_s_text">
            <div class="elm_s_heading">
                <h3 class="ui-heading" data-size="md">Nabízíme kvalitní a ověřený produkt, týmovou podporu a velkorysý etický marketing</h3>
            </div>
            <div class="elm_s_body">
                <div class="flex flex-col gap-y-8">
                    <div>
                        <h3 class="ui-heading" data-size="md">21</h3>
                        <div class="ui-text uppercase">let zkušeností</div>
                    </div>
                    <div>
                        <h3 class="ui-heading" data-size="md">238</h3>
                        <div class="ui-text uppercase">celosvětových partnerů</div>
                    </div>
                </div>
                <div class="ui-text">Nullam blandit in lectus vel rutrum. Integer viverra lectus a lorem viverra vestibulum. Praesent fringilla tincidunt imperdiet. Quisque dui ante, congue non sapien sed, porttitor dictum massa.Nullam blandit in lectus vel rutrum. Integer viverra lectus a lorem viverra vestibulum. Praesent fringilla tincidunt imperdiet. </div>
            </div>
        </div>
        <div class="wrp_s_image">
            <div class="elm_s_image">
                <div class="ui-image rounded aspect-[46/58]">
                    <img src="{{ placeholder(460, 580) }}" loading="lazy" alt="Handshake">
                </div>
            </div>
        </div>
    </div>
</div>
