<div class="s-text-image-columns">
    <div class="wrp_s_body container">
        <svg class="elm_s_ring"><use href="#icon-ring" data-controller="lib-gsap-parallax" data-speed="0.8"></use></svg>
        <div class="elm_s_image">
            <div class="ui-image rounded aspect-[46/58]">
                <img src="{{ placeholder(460,580) }}" loading="lazy" alt="">
            </div>
        </div>
        <div class="elm_s_body">
            <h3 class="ui-heading" data-size="md">Společnost Green Ways jsme založili v roce 2001 a brzy jsme se stali největším evropským prodejcem zelených potravin.</h3>
            <div class="ui-text grid t:grid-cols-2 t:gap-10 gap-5">
                <p>Dnes vlastníme informační a vzdělávací zázemí světového formátu. Pořádáme odborné konference, investujeme do zdravotních studií a komunikujeme s odborníky z celého světa.</p>
                <p>Při vývoji našich produktů rozhodují dva základní parametry – nejčistší lokalita a co nejšetrnější technologie zpracování. Díky poctivému přístupu máme desítky tisíc spokojených zákazníků, kteří se s vámi rádi podělí o zkušenost.</p>
            </div>
        </div>
    </div>
</div>
