<div class="s-text-info">
    <div class="container">
        <div class="wrp_s_head">
            <div class="elm_s_heading">
                <h3 class="ui-heading" data-size="lg">Jsme evropským leaderem <br> trhu zelených potravin</h3>
            </div>
            <div class="elm_s_image">
                <div class="ui-image bg-transparent aspect-square w-[7.5rem] h-[7.5rem] m:hidden">
                    <img class="is-circle" src="{{ '/src/assets/circle-gw.png'|asset }}" loading="lazy" alt="">
                </div>
            </div>
        </div>
        <div class="wrp_s_body">
            {% for item in 1..3 %}
                <div class="elm_s_item">
                    <h4 class="ui-heading t:col-4">Vize</h4>
                    <div class="ui-text t:col-4">
                        <p><strong>Co chceme:</strong></p>
                        <p>Dát příležitost velkým osobnostem</p>
                    </div>
                    <div class="ui-text t:col-4">
                        Smyslem firemní existence je vaše spokojenost! Nabízíme vám to, co jsme sami hledali a co jsme v Green Ways našli – přátelské společenství, osobní realizaci, zdraví a finanční nezávislost. Proto říkáme, že Green Ways je mostem ke zdraví, úspěchu a svobodě.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
