<section class="s-article-detail">
    <div class="container flex flex-col gap-14">
        <div class="wrp_s_breadcrumb">
            {% include '@src/templates/Components/Breadcrumb.twig' %}
        </div>
        <div class="wrp_s_head flex flex-col justify-center gap-8 text-center">
            <div class="ui-title uppercase font-normal" data-size="md">Zveřejněno 27. 04. 2021</div>
            <h1 class="ui-heading text-center uppercase" data-size="lg">VSTŘEBATELNOST A BEZPEČNOST ZELENÉHO ŽELEZA</h1>
            <div class="ui-title uppercase font-normal" data-size="sm">Autor:  <span class="text-primary">MUDR. JURAJ STANÍK</span></div>
            <div class="flex justify-center gap-8">
                {% for badge in ['Trendy', 'Novinky', 'Kategorie'] %}
                    <div class="ui-badge" data-size="md">{{ badge }}</div>
                {% endfor %}
            </div>
        </div>
        <article class="wrp_s_body is-width-small">
            <div class="ui-text">
                <p>MUDr. Juraj Staník působil jako praktický lékař v Lipanech. Zeleným potravinám se věnuje 7 let, z toho 6 let intenzivně. Ječmen a řasu Chlorella pyrenoidosa považuje za rostlinné funkční potraviny. Oceňuje, že zelené potraviny jsou schopné kromě základní funkce potravin zasytit dodat lidskému organismu i něco „navíc“. Vyzdvihuje šetrný způsob pěstování zeleného ječmene i řasy chlorelly, který je ku prospěchu ekosystému a následně i zdraví konzumentů. Přednášel na Mezinárodní odborné konferenci o zelených potravinách a připravuje přednášky o zajímavých obsahových látkách zelených potravin a vlivu ječmene a chlorelly například na trávicí systém člověka.</p>
                <p></p>
                <img src="{{ placeholder(760, 380) }}" loading="lazy" width="760" height="380" alt="">
                <p></p>
                <p>V odborné literatuře, v populárně naučných článcích i na internetu nacházíme velké množství informací o železe. Ve všech najdeme jednu společnou informaci. <b>Železo je životně důležitý prvek.</b> Potřebují ho bakterie, řasy, živočichové i lidé. V přírodě se železo vyskytuje zejména ve formě sloučenin. Jen velmi ojediněle se nachází ve volné formě v hornině. Biologicky jsou nejdůležitější dvě formy železa – železo železnaté (dvoumocné) a železo železité (trojmocné).</p>
                <p></p>
                <h2>Typy železa v potravě</h2>
                <p>Železo je dvojího původu. Zaprvé živočišného, pro které se používá i označení hemové železo nebo organické železo. Jde o dvojmocné železo. Druhým typem je železo rostlinného původu, které se označuje také jako nehemové železo (takzvané non-hem) nebo anorganické železo. V tomto případě jde o trojmocné železo. Živočišné (hemové, dvoumocné) železo je pro člověka biologicky dobře dostupné. Rostlinné (nehemové, trojmocné) železo je pro člověka biologicky obtížně dostupné. Někdy se dá říct, že až nedostupné.</p>
                <p></p>
                <h2>Rostliny jako zdroj železa</h2>
                <p>Tento článek se bude zabývat rostlinným železem. Známe totiž různé názory na vhodnost či nevhodnost rostlinných zdrojů železa. Jak již bylo zmíněno, železo se v přírodě vyskytuje především ve formě sloučenin (ve formě komplexů). Není tomu jinak ani v případě řas či rostlin. Zde je důležité, aby si trávicí trakt člověka uměl sloučeniny železa rozložit, železo z nich uvolnit a umožnit jeho vstřebání do krve. V podstatě jsou dva druhy sloučenin železa. S prvním si trávicí trakt člověka „poradí“, s druhým bohužel ne.</p>
                <p></p>
                <h2>Vstřebatelné komplexy železa</h2>
                <p>K prvnímu typu komplexů železa patří například rostlinný feritin a železo. Rostlinný feritin je nitrobuněčný protein, který nacházíme v řasách a rostlinách. Váže na sebe trojmocné železo. Trávicí systém člověka umí železo z tohoto typu sloučeniny uvolnit, a tím umožnit lidskému organismu jeho vstřebávání. Pamatujme, že jde o železo rostlinné, nehemové, trojmocné. To se musí změnit na dvojmocné, neboť jen dvojmocné železo se následně vstřebá do organismu. Na přeměnu trojmocného železa na dvoumocné má lidský organismus své vlastní mechanismy.</p>
                <p></p>
                <h2>Nevstřebatelné komplexy železa</h2>
                <p>K druhému typu komplexů železa v rostlinách patří například kyselina fytová a železo. Kyselina fytová je hlavní zásobní látka fosforu pro rostliny. Sloučeninu kyseliny fytové a železa trávicí systém člověka neumí v žaludku rozložit. Neumí tak uvolnit železo pro vstřebání ve dvanáctníku.</p>
                <p>V žaludku člověka není přítomen enzym fytáza, který by komplex uměl rozložit. Fytázu nacházíme až v tlustém střevě, kde se železo uvolní z vazby na kyselinu fytovou. V tlustém střevě se však železo vstřebat do krve neumí.</p>
                <p></p>
                <h2>Látky snižující vstřebávání – antinutrienty</h2>
                <p>V informačních zdrojích se často objevuje také zmínka o látkách v potravinách, které zhoršují vstřebávání železa. Nejčastěji se zmiňují vláknina, vápník, kyselina fytová a kyselina šťavelová. Informace o tlumení vstřebávání železa vlákninou pocházejí zejména z anglo-americké literatury. Autoři Čínské studie (nejobsáhlejší mezinárodní studie o výživě) se však s tímto závěrem neztotožňují. Dokonce mají zcela odlišný názor. Ani útlum vstřebávání železa způsobený vápníkem podle nich není tak závažný, jak se traduje. Organismus si umí poradit. Jak? To už je nad rámec tohoto článku. Zvídavého čtenáře odkazujeme na zmíněnou Čínskou studii doktora Colina T. Campbella, která je k dostání v knižní podobě. A nakonec zde je kyselina fytová. Kyselina fytová v kyselém prostředí žaludku se železem nereaguje. To znamená, že nesnižuje jeho vstřebávání do krve.</p>
                <p></p>
                <h2>Využitelnost železa v zelených potravinách GW</h2>
                <p>V listech zeleného Ječmene Green Ways je železo nejvíce vázané na rostlinné bílkoviny. Nejde tedy o vazbu na kyselinu fytovou, ale na rostlinnou bílkovinu (nehemová vazba). Není problém získat ho jako složku stravy. Rovněž řasa Chlorella pyrenoidosa je zdrojem nehemového železa dostupného pro trávicí systém člověka.</p>
                <blockquote>Ječmen i Chlorella GW obsahují železo ve vazbě na bílkoviny, která umožňuje dobré vstřebávání v trávicím systému člověka.</blockquote>
                <p>Skupina čínských odborníků zkoumala sinice a řasu chlorellu. Dospěli k závěru, že jsou zdrojem železa. Určitě ne jediným, ale jedním z možných. Výhrady vůči nehemovým zdrojům železa se tak mohou týkat pouze kolísavého množství železa v rostlinných zdrojích.</p>
                <p></p>
                <h2>Bezpečnost železa v zelených potravinách GW</h2>
                <p>Vstřebávání železa v trávicím traktu člověka podléhá regulaci. Tělo zvýšeně vstřebává železo v okamžiku, kdy ho má málo, a naopak jeho vstřebávání snižuje v době, kdy má železa dostatek. Železo v živočišné, hemové vazbě je snáze vstřebatelné, ale vstřebávání se hůře reguluje. Naproti tomu u železa z rostlinné nehemové vazby dokáže organismus lépe omezit vstřebávání, když jej má dostatek. V zelených potravinách je železo ve zmíněné nehemové vazbě a je tedy bezpečné ho konzumovat dlouhodobě i ve vyšších dávkách. Při dostatku železa v těle se vstřebávání z trávicího traktu jednoduše sníží.</p>
            </div>
        </article>
        <div class="wrp_s_foot mt-14 flex m:flex-col t:items-center gap-10 is-width-small">
            <div class="col col-left gap-6">
                <div class="ui-title uppercase font-normal" data-size="sm">Autor:  <span class="text-primary">MUDR. JURAJ STANÍK</span></div>
                <div class="ui-text">
                    V listech zeleného Ječmene Green Ways je železo nejvíce vázané na rostlinné bílkoviny. Nejde tedy o vazbu na kyselinu fytovou, ale na rostlinnou bílkovinu (nehemová vazba). Není problém získat ho jako složku stravy. Rovněž řasa Chlorella pyrenoidosa je zdrojem nehemového železa dostupného pro trávicí systém člověka.
                </div>
            </div>
            <div class="col col-right flex-shrink-0 w-full max-w-[16.25rem]">
                <picture class="ui-image rounded aspect-[65/82]">
                    <img src="{{ placeholder(260, 328) }}" loading="lazy" alt="">
                </picture>
            </div>
        </div>
        <svg class="wrp_s_progress" width="50" height="50" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="30" pathLength="1" />
            <circle cx="50" cy="50" r="30" pathLength="1" data-controller="lib-gsap-progress" />
        </svg>
    </div>
</section>
