<div class="container p-8 flex items-center flex-col gap-8">
    <button class="ui-btn">
        Chci nakupovat
    </button>
    <button class="ui-btn-circle" data-size="sm">
        <svg><use href="#icon-mask"></use></svg>
        <svg><use href="#icon-user"></use></svg>
    </button>
    <button class="ui-btn-circle">
        <svg><use href="#icon-mask"></use></svg>
        <svg><use href="#icon-arrow-right"></use></svg>
    </button>
    <button class="ui-btn-text">
        <span>Navštívit stránku</span>
        <span class="ui-btn-circle">
            <svg><use href="#icon-mask"></use></svg>
            <svg><use href="#icon-arrow-right"></use></svg>
        </span>
    </button>
    <div class="grid gap-4 text-center">
        <h4 class="ui-heading">H4 Chlorella: Konzerva sluneční energie a&nbsp;vitamínu D</h4>
        <h3 class="ui-heading" data-size="md">H3 Chlorella: Konzerva sluneční energie a&nbsp;vitamínu D</h3>
        <h2 class="ui-heading" data-size="lg">H2 Aktuality ze světa zdraví a&nbsp;životního stylu</h2>
        <h1 class="ui-heading" data-size="xl">H1 Jsme mostem mezi přírodou a&nbsp;civilizací</h1>
        <strong class="ui-title uppercase text-primary" data-size="sm">Promoakce</strong>
        <strong class="ui-title" data-size="md">Kdo je Green Ways</strong>
    </div>
    <button class="ui-icon-text text-primary">
        <span class="ui-title">Navštívit stránku</span>
        <svg class="ui-icon"><use href="#icon-arrow-right"></use></svg>
    </button>
    <div class="ui-image rounded aspect-[46/58] w-full max-w-[28.75rem]">
        <img src="{{ placeholder(460, 580) }}" loading="lazy" alt="" width="460" height="580">
    </div>
    <a href="#l-main" class="ui-btn-circle" data-size="lg">
        <svg><use href="#icon-mask"></use></svg>
        <svg class="icon-play"><use href="#icon-play"></use></svg>
    </a>
</div>
