<div class="s-more-boxes bg-dark">
    <div class="wrp_s_body container gap-10">
        <div class="elm_s_box d:col-7">
            <h3 class="ui-heading" data-size="md">Spousty receptů a dobrých rad najdete na blogu</h3>
            <div class="ui-text">Vestibulum sed faucibus quam, at consequat nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
            <button class="ui-btn-text mt-auto">
                <span>Prohlédnout</span>
                <span class="ui-btn-circle">
                    <svg><use href="#icon-mask"></use></svg>
                    <svg><use href="#icon-arrow-right"></use></svg>
                </span>
            </button>
        </div>
        <div class="elm_s_box d:col-5">
            <h3 class="ui-heading" data-size="md">GWTW</h3>
            <div class="ui-text">Vestibulum sed faucibus quam, at consequat nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
            <button class="ui-btn-text mt-auto">
                <span>Prohlédnout</span>
                <span class="ui-btn-circle">
                    <svg><use href="#icon-mask"></use></svg>
                    <svg><use href="#icon-arrow-right"></use></svg>
                </span>
            </button>
        </div>
    </div>
</div>
