<section class="s-more-pages bg-secondary">
    <div class="container">
        <div class="wrp_s_body flex m:flex-wrap">
            <div class="col">
                <div class="elm_s_image">
                    <picture class="ui-image bg-background bg-opacity-40 rounded aspect-[36/34]">
                        <img src="{{ placeholder(360, 340) }}" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="elm_s_body">
                    <h2 class="ui-heading">
                        100 % kvalitní potravina
                    </h2>
                    <div class="ui-text">
                        risultato di questo lavoro sono 3 oli evo dalla qualità eccelsa e dal sapore inconfondibile.
                    </div>
                    <a class="ui-btn-text" href="#">
                        <span>Navštívit stránku</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="elm_s_image">
                    <picture class="ui-image bg-background bg-opacity-40 rounded aspect-[36/50]">
                        <img src="{{ placeholder(360, 500) }}" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="elm_s_body">
                    <h2 class="ui-heading">
                        Proces kvality a výroby produktů
                    </h2>
                    <div class="ui-text">
                        Suspendisse id fringilla justo. In augue dui, fermentum eget ipsum non, gravida commodo orci.
                    </div>
                    <a class="ui-btn-text" href="#">
                        <span>Navštívit stránku</span>
                        <span class="ui-btn-circle">
                            <svg><use href="#icon-mask"></use></svg>
                            <svg><use href="#icon-arrow-right"></use></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
