<a class="c-product-item" href="/products-detail">
    <div class="wrp_item_image">
        <picture class="ui-image aspect-square">
            <img src="{{ placeholder(340, 340) }}" loading="lazy" alt="">
        </picture>
    </div>
    <div class="wrp_item_body">
        <h3 class="ui-heading">BIO Ječmen Green Ways (330g)</h3>
        <div class="ui-icon-text text-primary mt-auto">
            <span class="ui-title">Prohlédnout</span>
            <svg class="ui-icon"><use href="#icon-arrow-right"></use></svg>
        </div>
    </div>
</a>
